.evidence
.svelte-kit
build
node_modules
.DS_Store
static/data
*.options.yaml
.vscode
.env
.evidence/meta
.github
scripts
egresados.sql
matricula.sql
municipios.sql
primarias.sql
alumnos por sexo.sql
alumnos extranjeros.sql
alumnos especial por discapacidad.sql
alumnos con discapacidad.sql